{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>Top Headlines</title>
    {% endif %}
    

</head>
<body>
     <h2> Top Headlines Globally </h2>
  <ul id="newss">
    {% for fav_source in sources %}
      
        <img src="{{ fav_source.urlToImage }}" alt="">
        <br>
        <p id="info">
        <a href="{{ fav_source.url }}">{{ fav_source.title }}</a>
        <br>
        {{ fav_source.content }}
        <br>
        published at {{ fav_source.time|truncate(15) }}
        </p>
      
    {% endfor %}
  </ul>
  <hr>
  
    
</body>
</html>