{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>Top Headlines</title>
    {% endif %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='/index.css')}}">

    {% endblock %}

</head>
<body>
    

{% block content %}
<div class="container">
  <h1> Top Headlines Globally </h1>
  <ul id="newss">
        {% for items in sources %}
      
        <img src="{{ items.urlToImage }}" alt="">
        <div class="ps">
            <p><a href="{{ items.url }}">{{ items.title }}</a></p>
            <p>{{ items.content }}</p>
            <p>published at {{ items.time|truncate(15) }}</p>
        </div>
        {% endfor %}
  </ul>
</div>  
{% endblock %}    
</body>
</html>